{
  "type": "service_account",
  "project_id": <уникальный идентификатор проекта в Google Cloud Console, к которому привязан сервисный аккаунт>,
  "private_key_id": <уникальный идентификатор приватного ключа, связанного с этим сервисным аккаунтом; используется для проверки ключа>,
  "private_key": <приватный ключ в формате PEM (начинается с "-----BEGIN PRIVATE KEY-----"); используется для подписи запросов к API>,
  "client_email": <Email сервисного аккаунта Google Cloud (например, "my-service-account@my-project-123.iam.gserviceaccount.com"); используется для идентификации юзера>,
  "client_id": <уникальный идентификатор клиента, связанный с сервисным аккаунтом; может использоваться в OAuth 2.0>,
  "auth_uri": <URI для аутентификации OAuth 2.0 (обычно "https://accounts.google.com/o/oauth2/auth"); используется в процессе получения токена>,
  "token_uri": <URI для получения токена доступа OAuth 2.0 (обычно "https://oauth2.googleapis.com/token")>,
  "auth_provider_x509_cert_url": <URL сертификата x509 для проверки подписи токенов (обычно "https://www.googleapis.com/oauth2/v1/certs")>,
  "client_x509_cert_url": <URL сертификата x509, связанного с этим сервисным аккаунтом; используется для проверки подлинности>,
  "universe_domain": <домен для Google API (обычно "googleapis.com")>
}
